body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header{
    box-shadow: 2px 5px 5px 5px rgba(0,0,0,0.1);
    margin-bottom: 2vh;
}

header nav{
    color: #333;
    display: flex;
    justify-content: space-between;
}

header nav div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

header nav div a{
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    font-weight: 500;
}

header nav div a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
}

main h1{
    text-align: center;
    margin: 5vh auto;
}

main section h2{
    text-align: center;
}

main section p{
    padding:2vh;
    margin:auto;
    text-align: center;
    width: 70%;
}

#catalogue{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

#catalogue div{
    width: 30%;
    margin: 2vh auto;
    padding: 1vh;
    box-shadow: 2px 5px 5px 5px rgba(0,0,0,0.1);
    border-radius: 5px;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#catalogue div button{
    border-radius: 1vh;
    padding:1vh;
    border-color: white;
    background-color:#333;
    color: white;
    cursor: pointer;
}
footer{
    box-shadow: 2px -5px 5px 5px rgba(0,0,0,0.1);
    margin-top: 2vh;
    width: 100%;
}



footer p{

    margin: 5vh auto;
    text-align: center;
}

footer div{
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding-top : 5vh;
}